<h1> Sign Up </h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <%= content_tag :li, msg, class: "error" %>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %> <br>

  <%= f.label :email %><br>
  <%= f.email_field :email %> <br>

  <%= f.label :password %><br>
  <%= f.password_field :password %> <br>

  <%= f.label :confirm_password %><br>
  <%= f.password_field :password_confirmation %> <br>

  <%= f.submit "Sign up Now" %>
  <p>Already have an account? <%= link_to 'Sign in', sign_in_path %></p>
<% end %>